:root {
    --primary: #66FCF1;
    --secondary: #45A29E;
    --bg-dark: #0B0C10;
    --bg-light: #1F2833;
    --text-gray: #C5C6C7;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    background-color: var(--bg-dark);
    background-image: url('./assets/bg-slice4.svg');
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    font-size: 1.6em;
    text-align: center;
    font-weight: 600;
    color: var(--text-gray);
}

h3 {
    color: var(--primary);
    font-size: 1.4em;
}
.header {
    display: flex;
    background: var(--bg-light);
    padding: 10px 20px;
}

.logo {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}
.nav {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.navbar {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-self: center;
}

.navbar li {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}


.nav-container{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
}

.main-link {
    height: 100%;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    padding: 5px 20px;
}

.main-link img {
    height: 2em;
    margin-right: 5px;
}

.menu {
    position: relative;
}

.nav-sort {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 1;
    text-decoration: none;
    row-gap: 1px;
}

.nav-container:hover .menu .nav-sort{
    display: flex;
}

.nav-sort *{
    width: 80%;
    text-decoration: none;
    color: var(--secondary);
    background-color: var(--bg-light);
    border: 1px solid var(--text-gray);
    border-radius: 50px;
    padding: 5px 15px 10px 10px;
}

.nav-sort *:hover{
    color: var(--primary);
    background: var(--bg-dark);
}

.nav-text {
    font-size: 1.4em;
    font-weight: 600;
    color: var(--text-gray);
}

.searchbar {
    align-self: center;
    margin: auto 0;
}

.searchbar input {
    width: 700px;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    background: var(--bg-dark);
    color: var(--text-gray);
    font-size: 0.9em;
}

.search-query {
    font-size: 1.2em;
    margin: 10px 0 20px;
    color: var(--secondary);
    text-align: center;
}

.search-results .category {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.search-results .category button{
    margin: 0 2px;
    padding: 8px 20px;
    font-size: 1.6em;
    color: var(--secondary);
    border: 1px solid var(--text-gray);
    background: var(--bg-light);
}

.search-results .category button:first-of-type{
    border-radius: 50px 0 0 50px;
    padding-left: 30px;
}

.search-results .category button:last-of-type{
    border-radius: 0 50px 50px 0;
    padding-right: 30px;
}

.search-results .category button:hover{
    color: var(--primary);
    cursor: pointer;
}

.search-results .category button.active{
    color: black;
    background: var(--primary);
}

.login {
    flex: 1 1;
    align-self: center;
    line-height: 2em;
}

.login .links * {
    width: 150px;
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.login-btn:first-of-type {
    font-size: 1.8em;
    font-weight: 900;
    color: var(--primary);
}
.login-btn:last-of-type {
    font-weight: 600;
    font-size: 1.2em;
    color: var(--secondary);
}

.section {
    min-height: calc(100vh - 220px);
}

.section.main-grid {
    display: grid;
    width: 100%;
    max-width: 850px;
    margin: 10px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid {
    margin: 5px;
}

.grid.half {
    grid-column: span 1;
    grid-row: span 1;
}

.grid.full {
    grid-column: span 2;
    grid-row: span 1;
}

.grid.full > div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid.full > div a{
    width: 100%;
    height: 100%;
}

.grid.full > div a img{
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fade-in 0.5s forwards;
}

.grid .category {
    font-size: 1.4em;
    font-weight: 600;
    padding: 10px 10px;
}

.grid .thumbnails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.grid .thumbnails a {
    overflow: hidden;
}

.grid .thumbnails a:first-of-type{
    grid-column: span 2;
    position: relative;
}

.grid .thumbnails a:nth-of-type(1n+2){
    grid-column: span 1;
    position: relative;
}

.grid .thumbnails a .title{
    position: absolute;
    bottom: 3px;
    left: 3px;
    color: white;
    text-shadow: 0px 0px 5px black;
    user-select: none;
    background: rgba(0,0,0,0.4);
    padding: 0 5px;
}

.grid .thumbnails a:nth-of-type(1) .title{
    font-size: 1.6em;
}

.grid .thumbnails a:nth-of-type(1n+2) .title{
    font-size: 0.8em;
}

.grid .thumbnails a img{
    transition: 0.3s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade-in 0.5s forwards;
}

.grid .thumbnails a:hover img{
    transform: scale(1.2);
    filter: brightness(50%);
}

.grid .thumbnails a:first-of-type {
    grid-column: span 2;
}

.section-title {
    color: var(--primary);
    text-align: center;
}

.people {
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px;
    justify-content: center;
}

.person {
    background: var(--bg-light);
    width: 250px;
    height: auto;
    margin: 10px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
}

.person > a:first-of-type{
    flex: 75%;
    object-fit: cover;
    text-decoration: none;
}

.person > a:last-of-type{
    text-decoration: none;
    color: var(--text-gray);
}

.person .name {
    font-size: 1.3em;
    font-weight: 600;
    padding: 10px 0 5px;
    margin: auto 0;
}

.profile-picture {
    width: 100%;
    height: 100%;
}

.placeholder {
    margin: 50% auto;
    width: 50px;
    height: 50px;
    border: 5px solid var(--bg-light);
    border-top: 5px solid var(--secondary);
    border-radius: 50%;
    animation: loader 1s infinite linear;
}

.mini {
    width: 10px;
    height: 10px;
}
@keyframes loader {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    opacity: 0;
    animation: fade-in 0.5s forwards;
}

.known-for {
    flex:25%;
    display: flex;
    flex-direction: column;  
}

.known-for > a{
    position: relative;
}

.known-for > a:hover .tooltip{
    display: flex;
}

.known-for a img{
    width: 100%;
    height: 95px;
    display: none;
    opacity: 0;
    animation: fade-in 0.5s forwards;
}

.tooltip {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    background: rgba(0,0,0,0.85);
    width: 140px;
    height: calc(100% - 10px);
    left: -150px;
    top: 0;
    padding: 5px;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
}

.tooltip-year {
    color: var(--text-gray);
    font-size: 0.9em;
    font-weight: 400;
}

.tooltip-rating {
    font-size: 1em;
    font-weight: 600;
    color: var(--secondary)
}



.page-nav {
    display: flex;
    justify-content: center;
    margin: 0px 10px 10px;
}

.page-nav *{
    width: 250px;
    margin: 0 10px;
    background: var(--bg-light);
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    text-decoration: none;
    color: var(--primary);
}

.entries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.entry {
    position: relative;
    display: flex;
    width: 650px;
    height: 400px;
    background: var(--bg-light);
    padding: 20px 0;
    margin: 10px;
}

.entry .poster,
.entry .info {
    flex: 50%;
    margin-right: 10px;
}

.entry h3 {
    position: absolute;
    bottom: 0;
    right: 20px;
    margin-bottom: 10px;
    padding: 0;
}

.entry .rating {
    position: absolute;
    bottom: 0;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}

.entry .poster img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
    animation: fade-in 0.5s forwards;
    opacity: 0;
}

.entry .info .name {
    font-size: 1.4em;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
}

.entry .info .year {
    font-size: 1em;
    font-weight: 400;
    color: var(--secondary);
    margin-bottom: 2em;
}

.entry .info .overview {
    font-size: 0.9em;
    font-weight: 400;
    color: var(--text-gray);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 12; 
}

.details .basic {
    display: flex;
    justify-content: center;
    margin: 50px 10px;
    opacity: 0;
    animation: fade-in 1s forwards;
}

.details .basic .poster{
    flex: 1;
    max-width: 400px;
    margin-right: 100px;
}

.details .basic .poster img{
    width: 100%;
}

.details .basic .info{
    flex: 1;
    width: 100%;
    max-width: 600px;
    position: relative;
}

.details .basic .info .name {
    font-size: 1.4em;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
}

.details .basic .info .year {
    font-size: 1em;
    font-weight: 400;
    color: var(--text-gray);
    margin-bottom: 1em;
}

.details .basic .info .year .countries{
    display: inline;
}

.details .basic .info .year .countries::after{
    white-space: pre;
    content: ', ';
}

.details .basic .info .year .countries:last-of-type::after{
    white-space: pre;
    content: '';
}

.details .basic .info .genres {
    display: flex;
    font-size: 1em;
    font-weight: 400;
    color: var(--secondary);
    margin-bottom: 2em;
}

.details .basic .info .genres *::after {
    content: ', ';
    white-space: pre;
}

.details .basic .info .genres :last-child::after {
    content: '.';
}

.details .basic .info .additional,
.details .basic .info .additional .rating {
    display: flex;
    align-items: center;
}

.details .basic .info .additional .rating{
    flex: 1;
}

.details .basic .info .additional .rating .value{
    font-size: 3.8em;
    font-weight: 900;
    line-height: 1em;
}

.details .basic .info .additional .rating .info{
    margin-top: 2px;
    margin-left: 10px;
}

.details .basic .info .additional .rating .info .title{
    width: 70px;
    font-size: 0.8em;
    font-weight: 600;
    color: var(--text-gray);
}

.details .basic .info .additional .rating .info .count{
    font-size: 0.7em;
    color: var(--secondary);
}

.details .basic .info .additional .quick-options {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.details .basic .info .additional .quick-options img{
    width: 75px;
}

.details .basic .info .overview{
    margin-top: 50px;
    margin-bottom: 50px;
}

.details .basic .info .overview .title{
    font-size: 1.6em;
    margin-bottom: 20px;
}

.details .basic .info .overview .content{
    font-size: 1.1em;
    color: var(--text-gray);
    margin-bottom: 20px;
}

.details .basic .info .director > div:first-child{
    font-size: 1.1em;
    margin-bottom: 5px;
    color: white;
}

.details .basic .info .director > div:last-child *{
    display: inline-block;
    font-size: 1.0em;
    font-weight: 900;
}

.details .basic .info .director > div:last-child *::after{
    content: ', ';
    white-space: pre;
}

.details .basic .info .director > div:last-child >div:last-child::after{
    content: '';
    white-space: pre;
}

.details .extra {
    display: grid;
    grid-template-columns: auto auto;
    background: var(--bg-light);
    padding-bottom: 10px;
}

.details .extra .facts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.details .extra .facts .links{
    display: flex;
    margin-top: 20px;
}

.details .extra .facts .links div:first-of-type{
    font-size: 1.4em;
    font-weight: 600;
    margin: auto 0;
}

.details .extra .facts .links .homepage{
    margin-left: 25px;
    margin-right: 5px;
}

.details .extra .facts .links .homepage img,
.details .extra .facts .links .imdb img{
   width: 50px;
   filter: invert(0.75);
   transition: 0.2s;
   user-select: none;
}

.details .extra .facts .links .homepage:hover img,
.details .extra .facts .links .imdb:hover img{
   transform: scale(1.2);
}

.details .extra .facts > div:nth-child(1n+2){
    display: flex;
    text-align: right;
    flex-direction: column;
    margin: 5px 5px 5px 20px;
}

.details .extra .facts > div:nth-child(1n+2) .value{
    font-weight: 600;
}

.details .extra .cast > div:first-of-type{
    font-size: 1.4em;
    font-weight: 600;
    padding: 20px 0 0 40px;
}

.details .extra .cast .top-cast{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 20px 40px;
    
}

.details .extra .cast .top-cast > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: span 2;
    font-size: 1.4em;
    margin-left: 20px;
    cursor: pointer;
    user-select: none;
    width: 100px;
}

.details .extra .cast .top-cast > div:hover div:first-of-type{
    transform: scale(1.2);
}

.details .extra .cast .top-cast > div div:first-of-type{
    transition: 0.3s;
    font-size: 3em;
    text-align: center;
}

.details .extra .cast .top-cast .member{
    margin: 0 5px;
    width: 120px;
    box-shadow: 3px 3px 6px 2px rgba(0,0,0,0.3);
}

.details .extra .cast .top-cast .member > div:first-of-type{
    font-size: 0.85em;
    font-weight: 600;
    padding: 0 3px;
}

.details .extra .cast .top-cast .member > div:last-of-type{
    font-size: 0.8em;
    color: var(--text-gray);
    padding: 0 3px 6px 3px;
}

.details .extra .cast .top-cast .member img{
    width: 100%;
    max-height: 80%;
    object-fit: cover;
}

.details .reviews{
    background: var(--bg-light);
    display: grid;
    grid-template-columns: 0.8fr 1fr 0.8fr;
    margin-top: 5px;
}

.details .reviews > .title{
    font-size: 1.4em;
    margin-top: 20px;
    font-weight: 600;
    grid-column: 2/3;
}

.details .reviews .container{
    grid-column: 2/3;
    padding-bottom: 15px;
}

.details .reviews .container .review{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 700px;
    background: rgba(255,255,255,.15);
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid rgba(255,255,255,.35);
    border-radius: 10px;
    box-shadow: 2px 2px 6px var(--bg-dark);
    overflow: hidden;
    cursor: pointer;
    max-height: 1000px;
    transition: 0.2s;
}

.details .reviews .container .review.hide{
    max-height: 94px;
    position: relative;
}

.details .reviews .container .review.hide:hover{
    max-height: 112px;
    position: relative;
}

.details .reviews .container .review.hide:hover:before{
    content: 'CLICK TO EXPAND';
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 20px;
    border-radius: 0 0 0 10px;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    animation: fade-in 0.3s forwards;
}

.details .reviews .container .review:hover:before{
    content: 'CLICK TO HIDE';
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 20px;
    border-radius: 0 0 0 10px;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    animation: fade-in 0.3s forwards;
}

.details .reviews .container .review .author{
    font-size: 1.2em;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--text-gray);
}

.details .reviews .container .review .content{
    font-size: 0.9em;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--text-gray);
    white-space: pre-wrap;
    color: var(--text-gray);
}

.details .media{
    background: var(--bg-light);
    margin-top: 5px;
    display: grid;
    grid-template-columns: 0.8fr 1fr 0.8fr;
    width: 100%;
}

.details .media > .title{
    font-size: 1.4em;
    margin-top: 20px;
    font-weight: 600;
    grid-column: 2/3;
    width: 700px;
}

.details .media .container{
    grid-column: 2/3;
    max-width: 1000px;
}

.details .media .container .images,
.details .media .container .videos{
    display: flex;
    flex-direction: column;
    min-width: 700px;
    background: rgba(255,255,255,.10);
    padding: 10px 20px;
    margin: 10px 0;
    box-shadow: 2px 2px 6px var(--bg-dark);
    max-height: 900px;
    transition: 0.2s;
}

.details .media .container .images .title,
.details .media .container .videos .title{
    font-size: 1.1em;
    font-weight: 600;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--text-gray);
}

.details .media .container .images .content {
    display: flex;
    overflow: auto;
    margin: 5px 0 10px;
    padding-bottom: 10px;
}

.details .media .container .images .content img {
    height: 250px;
    margin-right: 5px;
}

.details .media .container .videos .content {
    display: flex;
    overflow-x: auto;
    margin: 5px 0 10px;
    padding-bottom: 10px;
}

.details .media .container .videos .content div {
    min-width: 560px;
    height: 315px;
    margin-right: 5px;
}

.details .media .container .videos .content div iframe{
    width: 100%;
    height: 100%;
}

.details .recommended,
.details .similar{
    background: var(--bg-light);
    margin-top: 5px;
    display: grid;
    grid-template-columns: 0.8fr 1fr 0.8fr;
    width: 100%;
    padding-bottom: 15px;
}

.details .recommended > .title,
.details .similar > .title{
    font-size: 1.4em;
    margin-top: 20px;
    font-weight: 600;
    grid-column: 2/3;
    max-width: 1000px;
}

.details .recommended .content,
.details .similar .content{
    display: flex;
    background: rgba(255,255,255,.10);
    padding: 10px 20px;
    margin: 10px 0;
    box-shadow: 2px 2px 6px var(--bg-dark);
    transition: 0.2s;
    grid-column: 2/3;
}

.details .recommended .content > a,
.details .similar .content > a{
    margin: 4px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.details .recommended .content > a:last-child,
.details .similar .content > a:last-child{
    margin-right: 0;
}

.details .recommended .content > a img,
.details .similar .content > a img{
    width: 185px;
    object-fit: contain;
}

.details .recommended .content > a .name,
.details .similar .content > a .name{
    display: none;
    position: absolute;
    background: rgba(0,0,0,0.8);
    padding: 10px 5px;
    bottom: 5px;
    width: calc(100% - 10px);
}

.details .recommended .content > a:hover .name,
.details .similar .content > a:hover .name{
    display: block;
}

.login-form {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 600px;
    background: var(--bg-light);
    padding: 20px 0;
    border-radius: 45px;
    border: 2px solid var(--secondary);
}

.filters {
    display: flex;
    justify-content: center;
}

.filter-item {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 100px;
    margin: 0 10px;
}

.filter-item label{
    color: var(--secondary);
    font-weight: 600;
    margin-bottom: 5px;
}

.filter-item select{
    display: block;
    width: 100%;
    font-size: 1.1em;
    color: var(--text-gray);
    padding: 5px 15px;
    background-color: var(--bg-light);
    background-image:   
            linear-gradient(45deg, transparent 50%, var(--bg-light) 50%),
            linear-gradient(135deg, transparent 50%, var(--bg-light) 50%),
            linear-gradient(var(--text-gray), var(--text-gray));
    background-size: 1em 1em;
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.filter-item input{
    display: block;
    width: 100%;
    height: 1.4em;
    font-size: 1.1em;
    color: var(--text-gray);
    padding: 5px 15px;
    background-color: var(--bg-light);
    border: none;
    border-radius: 20px;
    position: relative;
}

.filter-item select option{
    border: 1px solid var(--text-gray);
    border-radius: 50px;
    max-width: 100%;
    margin: 0;
    padding: 4px 15px 4px 4px;
}

.filter-item .opt-list {
    position: absolute;
    z-index: 2;
    top: 65px;
    left: 0;
}

.filter-item .opt {
    cursor: pointer;
    border: 1px solid var(--text-gray);
    margin: 2px 0;
    border-radius: 20px;
    padding: 5px 10px;
}

.opt:hover {
    background: var(--secondary) !important;
}

.selected-keywords,
.selected-genres {
    display: flex;
    flex-wrap: wrap;
}

.selected-keywords div,
.selected-genres div{
    position: relative;
    border-radius: 20px;
    padding: 4px 36px 4px 12px;
    background: var(--bg-light);
    margin: 3px;
    user-select: none;
}

.selected-keywords div:hover,
.selected-genres div:hover{
    background: rgb(15, 73, 68);
}

.selected-keywords div .delete-icon,
.selected-genres div .delete-icon{
    position: absolute;
    right: 4px;
    top: 4px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    background-image:   linear-gradient(45deg, transparent 45%, white 45%, white 55%,  transparent 55%),
                        linear-gradient(-45deg, transparent 45%, white 45%, white 55%, transparent 55%);
    width: 16px;
    height: 16px;
}

.selected-keywords div .delete-icon:hover,
.selected-genres div .delete-icon:hover{
    transform: scale(1.2);
}


.inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-right: 20px;
}

.inputs label {
    font-size: 1.2em;
    font-weight: 900;
    color: var(--text-gray);
}

.inputs input {
    background: var(--secondary);
    border: none;
    border-radius: 20px;
    margin: 3px 6px;
    padding: 8px 10px;
    font-weight: 600;
    font-style: italic;
}

button[type=submit] {
    background: var(--secondary);
    padding: 10px;
    border: none;
    align-self: center;
    width: 150px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 600;
    color: white
}

button[type=submit]:hover {
    background: var(--primary);
    color: var(--bg-dark);
    cursor: pointer;
}

.benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 300px;
    background: var(--bg-light);
    padding: 25px;
    border-radius: 45px;
    border: 2px solid var(--secondary);
}

.benefits p {
    text-align: center;
    margin: 0;
    padding: 3px 0;
    color: var(--text-gray);
    text-decoration: underline;
}


.footer {
    height: 30px;
    background: var(--bg-light);
}


@keyframes fade-in {
    to{
        opacity: 1;
    }
}